name: Build Test
on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "21"

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true

      - name: Build modules/APKs
        run: if [ -f "config.json" ]; then ./build.sh config.json; else ./build.sh config.toml; fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: $GITHUB_REPOSITORY
          NEXT_VER_CODE: 0
